/* aplayer音乐标签伸缩 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
	left: -66px !important;
	/* 默认情况下缩进左侧66px，只留一点箭头部分 */
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
	left: 0 !important;
	/* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

/* 樱花飘落和星空特效 */
/* 亮色模式下隐藏 */
[data-theme='light'] #universe {
	display: none;
}
/* 暗色模式下隐藏 */
[data-theme='dark'] #canvas_sakura {
	display: none;
}
/* 亮色色模式下显示 */
[data-theme='light'] #canvas_sakura {
	display: inline;
}


/* 这里是设置一个全局透明度，不然不太协调，可以根据自己的喜好修改 */
:root {
	--card-bg: rgba(255, 255, 255, 0.9);
}

[data-theme=dark] 
body {
	--card-bg: rgba(18, 18, 18, 0.7);
}


/* 日间模式背景 */
#web_bg {
	background: url('../images/bg_pic_light.jpg');
	background-size: cover;
}
/* 夜间模式背景 */
[data-theme='dark'] #web_bg {
	background: url('../images/bg_pic_dark.jpg');
	background-size: cover;
}

/***毛玻璃***************************************************/
/*顶部栏*/
#page-header.nav-fixed #nav{
	background: rgba(246, 239, 246, 0.61) !important;
	backdrop-filter: blur(8px) !important;
}
[data-theme=dark]
#page-header.nav-fixed #nav{
	background: rgba(79, 76, 79, 0.35) !important;
	backdrop-filter: blur(8px) !important;
}

#nav .show{
	background: rgba(246, 239, 246, 0.61) !important;
	backdrop-filter: blur(8px) !important;
}
[data-theme=dark]
#nav .show{
	background: rgba(79, 76, 79, 0.35) !important;
	backdrop-filter: blur(8px) !important;
}

/*手机模式侧边栏*/
#sidebar #sidebar-menus.open{
	background:rgba(246, 239, 246, 0.75) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 0 0 6px;
}
[data-theme=dark]
#sidebar #sidebar-menus.open{
	background:rgba(252, 224, 252, 0.11) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 0 0 6px;
}
/*侧边控制按钮*/
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up, 
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
	background: opacity(0.3);
	backdrop-filter: blur(3px);
}
[data-theme=dark]
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up,
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
	background: opacity(0.3);
	backdrop-filter: blur(3px);
}
/*搜索*/
#local-search .search-dialog,
#local-search .search-dialog .local-search-box input{
	background:rgba(246, 239, 246, 0.75) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 6px;
}
[data-theme=dark]
#local-search .search-dialog,
#local-search .search-dialog .local-search-box input{
	background:rgba(252, 224, 252, 0.2) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 6px;
}
/*******************************************************/