#loading-box
  .loading-left-bg
  .loading-right-bg
  .spinner-box
    .loading_img

script.
  window.paceOptions = {
    restartOnPushState: false
  }

  btf.addGlobalFn('pjaxSend', () => {
    Pace.restart()
    if (!{theme.pjax && theme.pjax.enable}){
        preloader.initLoading()
    }
  }, 'pace_restart')

link(rel="stylesheet", href=url_for(theme.preloader.pace_css_url || theme.asset.pace_default_css))
script(src=url_for(theme.asset.pace_js))

script.
  (()=>{
    const $loadingBox = document.getElementById('loading-box')
    const $body = document.body
    const preloader = {
      endLoading: () => {
        $body.style.overflow = ''
        $loadingBox.classList.add('loaded')
      },
      initLoading: () => {
        $body.style.overflow = 'hidden'
        $loadingBox.classList.remove('loaded')
      }
    }

    preloader.initLoading()
    //- pace进度条结束后再关闭loading
    Pace.on('done', preloader.endLoading)

    if (!{theme.pjax && theme.pjax.enable}) {
      btf.addGlobalFn('pjaxComplete', preloader.endLoading, 'preloader_end')
    } 

  })()